services:
  
  client-int:
    image: joaniznardo/ubuntum7base
    privileged: true
    mem_limit: 100m
    hostname: client-int
    container_name: client-int
    depends_on:
      - dnsserver
    command: ["bash", "-c", "/etc/init.d/rsyslog start && /etc/init.d/ssh start && supervisord -n"]
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    networks:
      internal_net:
        ipv4_address: 192.168.51.20

  client-ext:
    image: joaniznardo/ubuntum7base
    privileged: true
    mem_limit: 100m
    hostname: client-ext
    container_name: client-ext
    depends_on:
      - dnsserver
    command: ["bash", "-c", "/etc/init.d/rsyslog start && /etc/init.d/ssh start && supervisord -n"]
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    networks:
      external_net:
        ipv4_address: 10.51.0.20

  dnsserver:
    image: joaniznardo/ubuntum7dnsbind
    privileged: true
    mem_limit: 100m
    hostname: dnsserver
    container_name: dnsserver
    command: ["bash", "-c", "/etc/init.d/rsyslog start && /etc/init.d/ssh start && /etc/init.d/bind9 start && supervisord -n"]
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./bind/named.conf:/etc/bind/named.conf
      - ./bind/named.conf.local:/etc/bind/named.conf.local
      - ./bind/named.conf.options:/etc/bind/named.conf.options
      - ./bind/named.conf.logging:/etc/bind/named.conf.logging
      - ./bind/zones:/etc/bind/zones
      - ./bind/logs:/var/cache/bind/logs
    networks:
      internal_net:
        ipv4_address: 192.168.51.10
      external_net:
        ipv4_address: 10.51.0.10
  
networks:
  internal_net:
    ipam:
      driver: default
      config:
        - subnet: 192.168.51.0/24
          gateway: 192.168.51.1
  external_net:
    ipam:
      driver: default
      config:
        - subnet: 10.51.0.0/24
          gateway: 10.51.0.1
