version: '2'

services:
  
  client-int:
    image: joaniznardo/ubuntum7base
    privileged: true
    mem_limit: 100m
    hostname: client-int
    container_name: client-int
    depends_on:
      - dnsserver
    command: ["bash", "-c", "/etc/init.d/rsyslog start && /etc/init.d/ssh start && supervisord -n"]
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    networks:
      internal_net:
        ipv4_address: 192.168.50.20

  client-ext:
    image: joaniznardo/ubuntum7base
    privileged: true
    mem_limit: 100m
    hostname: client-ext
    container_name: client-ext
    depends_on:
      - dnsserver
    command: ["bash", "-c", "/etc/init.d/rsyslog start && /etc/init.d/ssh start && supervisord -n"]
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    networks:
      external_net:
        ipv4_address: 10.50.0.20
    
  dnsserver2:
    image: joaniznardo/ubuntum7dnsbind
    privileged: true
    mem_limit: 100m
    hostname: dnsserver2
    container_name: dnsserver2
    command: ["bash", "-c", "/etc/init.d/rsyslog start && /etc/init.d/ssh start && /etc/init.d/bind9 start && supervisord -n"]
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./bindserver02/named.conf:/etc/bind/named.conf
      - ./bindserver02/named.conf.local:/etc/bind/named.conf.local
      - ./bindserver01/named.conf.options:/etc/bind/named.conf.options
      - ./bindserver02/zones:/etc/bind/zones
    networks:
      internal_net:
        ipv4_address: 192.168.50.11
      external_net:
        ipv4_address: 10.50.0.11

  dnsserver:
    image: joaniznardo/ubuntum7dnsbind
    privileged: true
    mem_limit: 100m
    hostname: dnsserver
    container_name: dnsserver
    command: ["bash", "-c", "/etc/init.d/rsyslog start && /etc/init.d/ssh start && /etc/init.d/bind9 start && supervisord -n"]
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./bindserver01/named.conf:/etc/bind/named.conf
      - ./bindserver01/named.conf.local:/etc/bind/named.conf.local
      - ./bindserver01/named.conf.options:/etc/bind/named.conf.options
      - ./bindserver01/zones:/etc/bind/zones
    networks:
      internal_net:
        ipv4_address: 192.168.50.10
      external_net:
        ipv4_address: 10.50.0.10
  
networks:
  internal_net:
    ipam:
      driver: default
      config:
        - subnet: 192.168.50.0/24
          gateway: 192.168.50.1
  external_net:
    ipam:
      driver: default
      config:
        - subnet: 10.50.0.0/24
          gateway: 10.50.0.1


